.title {
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: xx-large;
  }

  .novopokebutton {
    position: fixed;
    top: 550px;
    right: 60px;
    font: inherit;
    cursor: pointer;
    background-color: #1c7700;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #1c7700;
    border-radius: 4px;
    font-weight: bold;
    height: 45px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.644);
  }

  .novopokebutton:hover {
    background-color: #27a50e;
    border-color: #27a50e;
  }

  .novopokebutton:active {
    background-color: #1c7700;
    border-color: #1c7700;
  }