@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #e6f3e6;
  margin: 0;
}